/* Change the background color of the body to give the beige color*/
body{
    background-color:hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 40px 0;
}

@media (min-width: 320px) {
    body {
      padding: 40px 0; /* more space on big screens */
      justify-content: center;
    }
  
    .container {
      max-width: 700px; /* wider container for desktop */
    }
  }
  

/* Adjusting the entirety of the whole container and specifics within the container*/ 
.container{
    padding: 40px;
    font-family: 'Outfit',serif;
    background-color: white;
    border-radius: 10px;
    width: 650px;
    line-height: 30px;
    margin-bottom: 5%;
}

.container img{
    max-width: 100%;
    width: 650px;
    border-radius: 10px;
}
.container h1{
    color: hsl(24, 5%, 18%);
}
.container h2{
    color: hsl(14, 45%, 36%);
}
.container ul li::marker{
    color: hsl(14, 45%, 36%);
}
.container ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.container h1,h2{
    font-family:'Young Serif',serif;
    font-weight: 400;
    
}

.container p{
    font-size: 16px;
    font-weight: 400;
}


/* Giving a unique selection for the preparations section */ 

#prep{
    
    padding: 5px 20px;
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
}
#prep h2{
    font-family: 'Outfit',serif;
    color: hsl(332, 51%, 32%);
    font-weight: 500;
    
}
hr{
    border:1px solid #ddd;
}

/* instructions list needs some slight adjusting as it does not have the same spacing as the rest of the container */

.instructions li{
    line-height: 25px;
    margin-bottom: 2%;
}
.instructions strong{
    color: hsl(30, 10%, 34%);
}
/* Table section, adjusting the width for better spacing and targeting the calories by changing its boldness and color*/ 
.table{
    width: 100%;
    border-collapse: collapse;
}
.table td{
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;

}
.table tr:last-child td {
    border-bottom: none;
  }
.table td:nth-of-type(2){
    padding-left: 10px;
    font-weight: 700;
    color:hsl(14, 45%, 36%);
}

